main {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	height: 93vh;
	color: white;
}

main h2 {
	font-size: 3rem;
}
main p {
	font-size: 1.5rem;
	width: 30%;
	text-align: center;
}
main a {
	margin-top: 2rem;
}
