@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap");
:root {
	--main-color: darkred;
	--secondary-color: white;
	--secondary-color-active: #c8c8c8;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Outfit", Courier, monospace;
	color: white;
}
label {
	display: inline-block;
	line-height: 1;
	margin: 0 0.14rem;
	background-color: var(--main-color);
	padding: 0.58rem 0.83rem;
	color: var(--secondary-color);
	text-transform: none;
	font-weight: bold;
	border-radius: 0.28rem;
	border: 2px solid var(--secondary-color);
}
.app {
	display: flex;
}
.left-menu {
	background: #fefefe;
	min-width: 375px;
	width: 35%;
	border-right: 1px solid lightgray;
}
.input-container {
	display: flex;
	margin-left: 1rem;
	padding-top: 1rem;
}
.input-container input,
.input-container button {
	margin: 1rem;
}

.users-container {
	grid-template-columns: 1fr;
	width: 90%;
	margin-left: 1rem;
	display: grid;
	justify-content: center;
	padding-bottom: 1rem;
	gap: 0.5rem;
}
