.dashboard {
	display: flex;
	height: 93vh;
}
.dashboard ul {
	width: 10%;
	border-right: 2px solid grey;
	height: 100%;
}
.dashboard ul li {
	margin: 2rem 0.5rem;
}
.dashboard a {
	width: 100%;
	border-radius: 0;
	border: 2px solid var(--main-color);
	color: var(--main-color);
	text-align: left;
	background-color: transparent;
	text-indent: 0.5rem;
}
.dashboard a:hover {
	color: var(--secondary-color);
	background-color: var(--main-color);
}
.dashboard a:active {
	background-color: var(--main-color-active);
	border-color: var(--main-color-active);
}
.dashboard .manage-users > button:hover {
	border-color: var(--main-color);
}
.main-content {
	width: 100%;
}
.month-selector {
	margin: 1rem 3rem 0 auto;
}
.month-selector i {
	margin: 0.3rem 0.75rem;
}
.calendar {
	width: 80%;
	height: 80vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(17, 600px);
}
.manage-users {
	margin-top: 2rem;
	width: 100%;
}
.manage-users .add-btn {
	width: 20%;
}
.manage-users .users-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem 1rem 0 1rem;
	gap: 1rem;
}
