.edit-day-page {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: #3335;
	z-index: 2;
	backdrop-filter: blur(2px);
	transition: all 0.3s ease;
}
.edit-day-page .btns-container {
	align-items: flex-end;
	position: relative;
	margin: 1rem 0 ;
}
.edit-day-page .btns-container button {
	margin-bottom: 0.75rem;
}
.edit-day-page .workers-container {
	border: 2px solid var(--secondary-color);
	width: 100%;
	height: 11vh;
	text-align: center;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.window > .btns-container button {
	margin: 0 0.5rem;
}
.times-container{
	height: 100%;
}
.times-container > div{
	margin: 0 1rem;
}
.edit-day-page .results-container {
	width: 100%;
	position: absolute;
	top: 87.5%;
	background-color: var(--secondary-color);
	color: var(--main-color);
	transition: all 0.3s ease;
	max-height: 14vh;
}
.results-container button.alt {
	width: 80%;
	margin: 0.5rem;
}
.edit-day-page .workers-container::-webkit-scrollbar {
	display: none;
}
.edit-day-page .window {
	background-color: var(--main-color);
	color: var(--secondary-color);
	z-index: 3;
	width: 60%;
	height: 60%;
}
