.action-menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}
.action-menu .input input,
.action-menu .search-bar input {
	display: inline-block;
}
.action-menu .input label,
.action-menu .search-bar label {
	margin: 0.5rem;
}
.action-menu .button {
	display: inline-block;
}
.action-menu .buttons-container {
	margin: 0.5rem;
}
