.link button {
	background: transparent;
	border: none;
	display: block;
}
.link button:hover {
	color: #999;
	cursor: pointer;
}
.link button:active {
	color: #333;
}
.button button {
	background: #8e8e8e;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}
.button p {
	pointer-events: none;
}
.button button:hover {
	background: #aeaeae;
}
.button button:active {
	background: #999;
}
.button label {
	display: none;
}
