button {
	background: var(--main-color);
	color: #fff;
	border: 2px solid var(--secondary-color);
	padding: 0.5rem;
	border-radius: 7px;
	transition: color 0.3s ease;
	transition-property: color, background-color, border-color;
	font-weight: 700;
	cursor: pointer;
	font-size: 1rem;
}
button p {
	pointer-events: none;
}
button:hover {
	background: var(--secondary-color);
	color: var(--main-color);
}
button:active {
	border-color: var(--secondary-color-active);
	background: var(--secondary-color-active);
}
button:disabled {
	background-color: var(--main-color-active);
	color: var(--secondary-color-active);
	cursor: unset;
}
button i {
	pointer-events: none;
}
button.alt {
	width: 100%;
	border-radius: 0;
	border: 2px solid var(--main-color);
	color: var(--main-color);
	text-align: left;
	background-color: transparent;
	text-indent: 0.5rem;
}
button.alt:hover {
	color: var(--secondary-color);
	background-color: var(--main-color);
}
button.alt:active {
	background-color: var(--main-color-active);
	border-color: var(--main-color-active);
}
