.day-cell div {
	height: 100%;
	transition: all 0.3s ease;
	color: var(--main-color);
}
.day-cell.clickable:hover div {
	background-color: #8b000066;
}
.day-cell.clickable:active div {
	background-color: #bb0000aa;
}
