.flex-content {
	display: flex;
	justify-content: center;
}
.flex-items {
	display: flex;
	align-items: center;
}
.flex-both {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
