.flex-content {
	display: flex;
	justify-content: center;
}
.flex {
	display: flex;
}
.flex-items {
	display: flex;
	align-items: center;
}
.flex-both {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-around {
	display: flex;
	justify-content: space-around;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-evenly {
	display: flex;
	justify-content: space-evenly;
}
