img {
	width: 100px;
}
.window .profile-icon p {
	font-size: 1.5rem;
	margin-left: 1rem;
}
.profile-page .window {
	align-items: flex-start;
	padding: 3% 20%;
}
.profile-page .window .info-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-content: center;
	width: 100%;
	gap: 2rem;
}
.info-container p {
	display: flex;
	justify-content: center;
}
.profile-page p {
	font-size: 1.3rem;
	margin: 0.5rem 0;
}
.email-text {
	color: blue;
	text-decoration: underline;
}
.shifts-container {
	width: 100%;
}
.shifts-container .past-shifts,
.shifts-container .upcoming-shifts {
	width: 100%;
}
.shifts-grid {
	margin-top: 1rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.shifts-container button:hover {
	border-color: var(--main-color);
}
