.user {
	margin: auto;
	border-radius: 0.5rem;
	background: #eee;
	width: 100%;
}
.user:hover {
	background: #ddd;
}
.user:active {
	background: #aaa;
}

.user p {
	padding-left: 1rem;
	font-size: 1.1rem;
	margin-bottom: 0.25rem;
	pointer-events: none;
}
.user.selected {
	background: #bbb;
}
.user label {
	background: inherit;
	pointer-events: none;
	display: inline-block;
	line-height: 1;
	margin: 0 0.14rem;
	padding: 0.58rem 0.83rem;
	color: rgba(0, 0, 0, 0.6);
	text-transform: none;
	font-weight: bold;
	border-radius: 0.28rem;
}
