.user-card {
	background-color: var(--main-color);
	color: var(--secondary-color);
	padding: 1rem;
	width: 100%;
	position: relative;
}
.user-card .btns-container {
	right: 1rem;
	position: absolute;
	height: 100%;
	top: 0;
}
.user-card .btns-container button {
	padding: 0.3rem;
	margin: 0.2rem 0;
}

.user-card .btns-container i {
	pointer-events: none;
}
.user-card .btns-container a:hover {
	background: var(--secondary-color);
	color: var(--main-color);
}
.user-card .btns-container a:active {
	border-color: var(--secondary-color-active);
	background: var(--secondary-color-active);
}
span {
	color: green;
	font-weight: 700;
}
