.right-menu {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.property {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
	font-size: 2rem;
}
.property label {
	margin-bottom: 0.5rem;
	display: inline-block;
	line-height: 1;
	margin: 0 0.14rem;
	background-color: #e8e8e8;
	padding: 0.58rem 0.83rem;
	color: rgba(0, 0, 0, 0.6);
	text-transform: none;
	font-weight: bold;
	border-radius: 0.28rem;
}
.labels,
.buttons-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.buttons-container button {
	margin: 0 1rem;
}
.error-message {
	color: red;
	margin-top: 0.5rem;
	/* position: absolute; */
}
.add-menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	position: sticky;
	top: 2rem;
	margin-top: 2rem;
}
.add-menu .input {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
}
.add-menu .input input {
	margin: 1rem;
}
.logout-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.add-menu .logout-btn {
	top: -1rem;
}
