.shift {
	background-color: var(--main-color);
	border-radius: 10px;
	margin: 0 1rem 1rem;
	position: relative;
	color: var(--secondary-color);
}
.shift-info-container {
	width: 100%;
}
.shift i::before {
	width: 100%;
	display: flex;
	justify-content: center;
}
.btns-container {
	right: 1rem;
	position: absolute;
	height: 100%;
	top: 0;
}
.btns-container button {
	padding: 0.2rem;
	margin: 0.1rem 0;
}
